.comment-container {
  display: flex;
  flex-direction: row;
  margin: 1%;
}
.profile-image-container {
  flex: 0.05;
  align-self: flex-start;
}


.comment-description {
  display: flex;
  flex: 1;  
  flex-direction: column;
  justify-content: space-between;
  background-color: #EEEEEE;
  padding: 1% 2% 2% 2%;
  border-radius: 20px;
}

